<% @no_shade = true %>
<div style="height: 20px"></div>
<object width="984" height="572"><param name="movie" value="http://www.youtube.com/v/boep3F-Jl3U&hl=en_US&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/boep3F-Jl3U&hl=en_US&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="984" height="572"></embed></object>