<p><strong>Freelance Web Developer, 2009 - Present</strong></p>
<ul>
<li>Conceiving and developing inspecretary.com, a Rails app to help home inspectors manage their businesses</li>
<li>Developed blindpower.org - mashup currently using Govtrack and Drumbone APIs</li>
<li>Leased &amp; maintained Linux production server with nginx, haproxy &amp; passenger</li>
<li>COUNTLESS HOURS tinkering with Ruby on Rails hands-on for the past year-and-a-half</li>
</ul>

<p><strong>CiviCore, LLC, Denver, Colorado, 2008 - 2009</strong></p>
<ul>
<li>Developed web apps as part of a team with FuseBox (ColdFusion framework) &amp; MS SQL</li>
<li>Upgraded Case Management System application code for a large district attorney client</li>
<li>Interfaced with ConstantContact REST API and Skipjack e-commerce API with ColdFusion and Java</li>
<li>Developed disaster recovery plan; Built SVN repository browser &amp; production deploy tool</li>
<li>Managed production and development servers on Windows, Linux/Asterisk PBX, and BIND 9 DNS</li>
</ul>

<p><strong>Full-Time Student, Texas, 2005 - 08</strong></p>
<ul>
<li>Concentration in Math, Science &amp; Engineering, 3.6 GPA (transcripts available on request)</li>
</ul>

<p><strong>METCO, Inc., Allen, Texas, 2003 - 04</strong></p>
<ul>
<li>Developed inventory management system for discount foodservice equipment wholesaler</li>
<li>Provided on-site IT consulting and network administration to multiple office locations</li>
<li>Installed and supported Point-of-Sale (POS) systems at multiple Dallas-area retailers</li>
</ul>

<p><strong>Freelance Web Developer, 1999 - 2004</strong></p>
<ul>
<li>Designed and developed custom web sites and applications for Dallas area small businesses, including an environmental services company and a large youth sports club</li>
<li>Technologies: ASP, IIS, MS SQL Server, ASP.NET, PHP, MySQL</li>
<li>Administered and managed hosting services: Windows IIS, CommuniGate Pro Mail, RADIUS, SQL Server, Windows security policies, Linux BIND DNS Servers</li>
</ul>

<p><strong>Microsoft, Inc., Las Colinas, Texas, summer 1999 (internship)</strong></p>
<ul>
<li>Paired with co-developer to complete development on TSOAR (Technology Specialists Online Active Roadmap)</li>
</ul>

<p><strong>Ericsson, Inc., Data Services Americas, Richardson, Texas, 1998 - 1999 (internship)</strong></p>
<ul>
<li>Developed web application that won, &ldquo;Best HR Website of 1999 in Ericsson Worldwide&rdquo; award from Human Resources VP</li>
<li>Design of PhoneDoubler web site featured at large global telecom conference</li>
</ul>

<p><strong>EDUCATION</strong></p>
<ul>
<li>Ruby Programming, Community College of Denver - June 2009 (24 hours)</li>
<li>Univ. of Colorado at Denver, 2009-current, Concentration: Engineering</li>
<li>Univ. of Texas at Austin, 2007-08, Concentration: Engineering</li>
<li>Collin College, Plano, TX, 2005&ndash;07, Concentration: Math &amp; Science</li>
<li>GED, State of Texas, 1997</li>
</ul>

<p><strong>HOBBIES</strong></p>
<ul>
<li>my dog, hiking, travelling, Sudoku, cooking, Star Trek TNG (always and forever)</li>
</ul>
